<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="scss.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="./slick/slick.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Page Title</title>
</head>
<body>
 div.wrap
   div.top
    div.logo__menu
     <img class="picture"  src="./img/logo.png" alt="">
     ul.menu
       li Work
       li About
       li Blog
       li Contact
    div.title-center Style & Beauty   
    div.title-text New fashion brand  
    div.btn-view VIEW PROJECT
   div.top-bk2
    div.title-center Living Room Girls
    div.title-text Interior Design - Red Room
    div.btn-view VIEW PROJECT   
   div.top-bk3
    div.title-center The shape of water flowers
    div.title-text Book Cover
    div.btn-view VIEW PROJECT  
   div.top-bk4
    div.title-center Capturing the sunlight
    div.title-text Fashion Photoshoot
    div.btn-view VIEW PROJECT 
   div.top-bk5
    div.title-center Looking on the other side
    div.title-text Portrait photography
    div.btn-view VIEW PROJECT  
   div.bottom
     div.title Let's do something amazing.
     div.text Get in touch with us today
     div.btn-start START A PROJECT
   footer
     ul.reclam
      li © 2022 Paper. Made with ❤
      li Webflow, by Kreshnik Beqi
     ul.menu-bottom-social
      li Image Licensing
      li Instagram
      li Dribbble    
      li Twitter    
      li Facebook    
</body>
<div id="top" onclick="toTop();"><img class="on__top__btnimg" src="./img/image_1.png" alt="no pic" /></div>


</html>

<script src="./jquery-1.12.4.js" type="text/javascript"></script>
<script src="./slick/slick.min.js" type="text/javascript"></script>
<script src="./script.js" type="text/javascript"></script>