* {
    box-sizing: border-box;

}

@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins-Regular.ttf") format("opentype");
}

// @font-face {
//     font-family: Lato;
//     src: url("./fonts/Lato-Regular.ttf") format("opentype");
// }

// @font-face {
//     font-family: Open Sans;
//     src: url("./fonts/OpenSans-Regular.ttf") format("opentype");
// }

ul,
li {
    list-style: none;
}

html {

    height: 100%;
}

body {
    height: 100%;

}

.wrap {
    max-width: 1440px;
    margin: 0 auto;
}

#top {
    height: 64px;
    width: 64px;
    position: absolute;
    left: 72px;
    transform: translateY(-93px);
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    padding: 20px;
    transition: all .3s;
}

#top:hover {
    background: linear-gradient(to top right, #000000 0%, #ffffff 100%);
    color: #fff;
}

#top:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(1298%) hue-rotate(209deg) brightness(118%) contrast(100%);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 128px;

    li {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */


        /* White */

        color: #FFFFFF;
    }
}

.header {
    background-image: url('./img/Backround.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 133px;

    .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 144px;
        /* identical to box height */


        /* White */
        margin-top: 200px;
        color: #FFFFFF;
    }

    .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 275;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        margin-top: 5px;
        /* White */

        color: #FFFFFF;
    }

    .btn-join {
        display: inline-flex;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height, or 117% */
        margin-top: 385px;
        margin-left: auto;
        margin-right: auto;

        /* White */

        color: #FFFFFF;
        background: #00B43D;
        border: 1px solid #00B43D;
        /* Shadow/xs focused 4px error-100 */

        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FEE4E2;
        border-radius: 8px;

        /* Inside auto layout */
        padding: 16px 71px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
}

.arton-block {
    background-color: #000000;
    text-align: center;
    padding: 17px 0;

    .title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 28px;
        /* identical to box height, or 88% */


        color: #FFFFFF;
    }
}

.center {
    background-image: url('./img/Travel_bk_center.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .text-center {
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 60px;
        /* identical to box height */


        /* White */

        color: #FFFFFF;
        padding-top: 129px;
        margin-bottom: 54px;
    }
}

.posts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
    padding: 0 44px;
    padding-bottom: 133px;

    .post {
        padding: 24px;
        max-width: 320px;
        max-height: 586px;
        background: rgba(88, 88, 88, 0.5);
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        /* identical to box height */


        /* White */

        color: #FFFFFF;
    }

    .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        margin-top: 6px;
        /* White */

        color: #FFFFFF;
    }

    .btn-readmore {
        display: inline-flex;
        padding: 6px 17px;
        background: rgba(78, 78, 78, 0.45);
        border-radius: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 28px;
        /* identical to box height, or 233% */


        color: #FFFFFF;
        margin-left: auto;
        margin-top: 38px;
    }
}

.bottom {
    background-image: url('./img/Backround_bottom.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
padding: 125px 115px 126px 120px;
    .title {
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 72px;
        /* identical to box height */


        /* White */

        color: #FFFFFF;
        margin-bottom: 64px;
    }

    .text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 275;
        font-size: 32px;
        line-height: 48px;

        /* White */

        color: #FFFFFF;
    }
}
.posts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    padding: 0 44px;
    padding-bottom: 133px;
}
@media (max-width:894px){
    .menu {
        gap: 28px 10px;
        justify-content: center;
    }
}
@media (max-width:634px){
    .bottom {

        padding: 52px;
        .title {
         
            font-size: 10vw;
           
        }
    }
   
}
@media (max-width:350px){
    .bottom .title {
        margin-bottom: 10px;
    }
}